body{
    text-align:center;
}
.btn{
    width:200px;
    height:200px;
    border:10px,solid,black;
    border-radius:20%;
    margin:2.5rem;
}
.btn_container{
    display:flex;
    justify-content:center;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:green;
}
.red{
    background-color:red;
}
.purple{
    background-color:purple;
}
.bflashh{
    background-color:white;
}
.uflashh{
    background-color:blue;
}